#contenedor-tabla {
    position: absolute; /* Para poder moverlo libremente */
    left: 10px; /* Posición inicial a la izquierda de la pantalla */
    top: 50px;
    cursor: grab; /* Cambia el cursor al arrastrar */
    border: 1px solid #ccc; /* Borde para visualización */
    padding: 10px;
    background-color: #f9f9f9;
}

#contenedor-tabla-paginas {
    position: absolute; /* Para poder moverlo libremente */
    left: 50%; /* Posición inicial al centro de la pantalla */
    top: 50px;
    transform: translateX(-50%);
    cursor: grab; /* Cambia el cursor al arrastrar */
    border: 1px solid #ccc; /* Borde para visualización */
    padding: 10px;
    background-color: #f9f9f9;
}

#contenedor-tabla-pagina {
    position: absolute; /* Para poder moverlo libremente */
    right: 10px; /* Posición inicial a la derecha de la pantalla */
    top: 50px;
    cursor: grab; /* Cambia el cursor al arrastrar */
    border: 1px solid #ccc; /* Borde para visualización */
    padding: 10px;
    background-color: #f9f9f9;
}

#contenedor-tabla:active, #contenedor-tabla-paginas:active, #contenedor-tabla-pagina:active {
    cursor: grabbing; /* Cambia el cursor al estar arrastrando */
}

table {
    border-collapse: collapse; /* Evita bordes dobles entre celdas */
}

th, td {
    border: 1px solid #ddd; /* Bordes para las celdas */
    padding: 8px;
    text-align: left;
}

input[type="text"] {
    width: 100%; /* Para que el input ocupe todo el ancho de la celda */
    box-sizing: border-box; /* Incluye el padding y el border en el ancho total */
}

.arrow {
    display: inline-block;
    margin: 20px;
    font-size: 24px;
}